In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Data Intake ##

In [8]:
data = pd.read_csv('/Users/rowlandhill/Documents/Personal/Kaggle_Comps/Global_Terrorism/globalterrorismdb_0718dist.csv', encoding = "ISO-8859-1")

/Users/rowlandhill/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

## Prelim EDA + Data Cleaning ###

In [10]:
data.shape

(181691, 135)

In [15]:
### Explore ID column ###
print('The DF has shape ', data.shape)
print('The eventid column has ', data['eventid'].nunique(), 'unique values')

The DF has shape  (181691, 135)
The eventid column has  181691 unique values

In [17]:
data.info

<bound method DataFrame.info of              eventid  iyear  imonth  iday approxdate  extended resolution  \
0       197000000001   1970       7     2        NaN         0        NaN
1       197000000002   1970       0     0        NaN         0        NaN
2       197001000001   1970       1     0        NaN         0        NaN
3       197001000002   1970       1     0        NaN         0        NaN
4       197001000003   1970       1     0        NaN         0        NaN
...              ...    ...     ...   ...        ...       ...        ...
181686  201712310022   2017      12    31        NaN         0        NaN
181687  201712310029   2017      12    31        NaN         0        NaN
181688  201712310030   2017      12    31        NaN         0        NaN
181689  201712310031   2017      12    31        NaN         0        NaN
181690  201712310032   2017      12    31        NaN         0        NaN

        country         country_txt  region  ... addnotes  \
0            58  Dominican Republic       2  ...      NaN
1           130              Mexico       1  ...      NaN
2           160         Philippines       5  ...      NaN
3            78              Greece       8  ...      NaN
4           101               Japan       4  ...      NaN
...         ...                 ...     ...  ...      ...
181686      182             Somalia      11  ...      NaN
181687      200               Syria      10  ...      NaN
181688      160         Philippines       5  ...      NaN
181689       92               India       6  ...      NaN
181690      160         Philippines       5  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 2 ...
181687  "Two Russian soldiers killed at Hmeymim base i...
181688                                                NaN
181689                                                NaN
181690  "Security tightened in Cotabato City," Manila ...

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 1 ...
181687  "Two Russian servicemen killed in Syria mortar...
181688                                                NaN
181689                                                NaN
181690                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
181686  START Primary Collection        0         0        0       0      NaN
181687  START Primary Collection       -9        -9        1       1      NaN
181688  START Primary Collection        0         0        0       0      NaN
181689  START Primary Collection       -9        -9        0      -9      NaN
181690  START Primary Collection       -9        -9        0      -9      NaN

[181691 rows x 135 columns]>

In [56]:
### Explore NaN significance ###

NaN_summary = pd.DataFrame(data.isnull().sum(axis = 0))

NaN_summary['pct_NaN'] = round((NaN_summary[0] / data.shape[0]),2)

In [57]:
pd.set_option('display.max_rows', NaN_summary.shape[0] + 1)

In [58]:
NaN_summary

                         0  pct_NaN
eventid                  0     0.00
iyear                    0     0.00
imonth                   0     0.00
iday                     0     0.00
approxdate          172452     0.95
extended                 0     0.00
resolution          179471     0.99
country                  0     0.00
country_txt              0     0.00
region                   0     0.00
region_txt               0     0.00
provstate              421     0.00
city                   434     0.00
latitude              4556     0.03
longitude             4557     0.03
specificity              6     0.00
vicinity                 0     0.00
location            126196     0.69
summary              66129     0.36
crit1                    0     0.00
crit2                    0     0.00
crit3                    0     0.00
doubtterr                1     0.00
alternative         152680     0.84
alternative_txt     152680     0.84
multiple                 1     0.00
success                  0     0.00
suicide                  0     0.00
attacktype1              0     0.00
attacktype1_txt          0     0.00
attacktype2         175377     0.97
attacktype2_txt     175377     0.97
attacktype3         181263     1.00
attacktype3_txt     181263     1.00
targtype1                0     0.00
targtype1_txt            0     0.00
targsubtype1         10373     0.06
targsubtype1_txt     10373     0.06
corp1                42550     0.23
target1                636     0.00
natlty1               1559     0.01
natlty1_txt           1559     0.01
targtype2           170547     0.94
targtype2_txt       170547     0.94
targsubtype2        171006     0.94
targsubtype2_txt    171006     0.94
corp2               171574     0.94
target2             170671     0.94
natlty2             170863     0.94
natlty2_txt         170863     0.94
targtype3           180515     0.99
targtype3_txt       180515     0.99
targsubtype3        180594     0.99
targsubtype3_txt    180594     0.99
corp3               180665     0.99
target3             180516     0.99
natlty3             180544     0.99
natlty3_txt         180544     0.99
gname                    0     0.00
gsubname            175801     0.97
gname2              179678     0.99
gsubname2           181531     1.00
gname3              181367     1.00
gsubname3           181671     1.00
motive              131130     0.72
guncertain1            380     0.00
guncertain2         179736     0.99
guncertain3         181371     1.00
individual               0     0.00
nperps               71115     0.39
nperpcap             69489     0.38
claimed              66120     0.36
claimmode           162608     0.89
claimmode_txt       162608     0.89
claim2              179801     0.99
claimmode2          181075     1.00
claimmode2_txt      181075     1.00
claim3              181373     1.00
claimmode3          181558     1.00
claimmode3_txt      181558     1.00
compclaim           176852     0.97
weaptype1                0     0.00
weaptype1_txt            0     0.00
weapsubtype1         20768     0.11
weapsubtype1_txt     20768     0.11
weaptype2           168564     0.93
weaptype2_txt       168564     0.93
weapsubtype2        170149     0.94
weapsubtype2_txt    170149     0.94
weaptype3           179828     0.99
weaptype3_txt       179828     0.99
weapsubtype3        179998     0.99
weapsubtype3_txt    179998     0.99
weaptype4           181618     1.00
weaptype4_txt       181618     1.00
weapsubtype4        181621     1.00
weapsubtype4_txt    181621     1.00
weapdetail           67670     0.37
nkill                10313     0.06
nkillus              64446     0.35
nkillter             66958     0.37
nwound               16311     0.09
nwoundus             64702     0.36
nwoundte             69143     0.38
property                 0     0.00
propextent          117626     0.65
propextent_txt      117626     0.65
propvalue           142702     0.79
propcomment         123732     0.68
ishostkid              178     0.00
nhostkid            168119     0.93
nhostkidus          168174     0.93
nhours              177628     0.98
ndays               173567     0.96
divert              181367     1.00
kidhijcountry       178386     0.98
ransom              104310     0.57
ransomamt           180341     0.99
ransomamtus         181128     1.00
ransompaid          180917     1.00
ransompaidus        181139     1.00
ransomnote          181177     1.00
hostkidoutcome      170700     0.94
hostkidoutcome_txt  170700     0.94
nreleased           171291     0.94
addnotes            153402     0.84
scite1               66191     0.36
scite2              104758     0.58
scite3              138175     0.76
dbsource                 0     0.00
INT_LOG                  0     0.00
INT_IDEO                 0     0.00
INT_MISC                 0     0.00
INT_ANY                  0     0.00
related             156653     0.86

In [59]:
### Segment DF for column drop based on % NaN ###

drp_bkt = []

for i in NaN_summary['pct_NaN']:
    if i >= 0.9:
        drp_bkt.append('Yes')
    elif i >= 0.75:
        drp_bkt.append('Probably')
    elif i >= 0.5:
        drp_bkt.append('Judgement')
    else:
        drp_bkt.append('No')
        
NaN_summary['Drop_Rec'] = drp_bkt

In [60]:
NaN_summary

                         0  pct_NaN   Drop_Rec
eventid                  0     0.00         No
iyear                    0     0.00         No
imonth                   0     0.00         No
iday                     0     0.00         No
approxdate          172452     0.95        Yes
extended                 0     0.00         No
resolution          179471     0.99        Yes
country                  0     0.00         No
country_txt              0     0.00         No
region                   0     0.00         No
region_txt               0     0.00         No
provstate              421     0.00         No
city                   434     0.00         No
latitude              4556     0.03         No
longitude             4557     0.03         No
specificity              6     0.00         No
vicinity                 0     0.00         No
location            126196     0.69  Judgement
summary              66129     0.36         No
crit1                    0     0.00         No
crit2                    0     0.00         No
crit3                    0     0.00         No
doubtterr                1     0.00         No
alternative         152680     0.84   Probably
alternative_txt     152680     0.84   Probably
multiple                 1     0.00         No
success                  0     0.00         No
suicide                  0     0.00         No
attacktype1              0     0.00         No
attacktype1_txt          0     0.00         No
attacktype2         175377     0.97        Yes
attacktype2_txt     175377     0.97        Yes
attacktype3         181263     1.00        Yes
attacktype3_txt     181263     1.00        Yes
targtype1                0     0.00         No
targtype1_txt            0     0.00         No
targsubtype1         10373     0.06         No
targsubtype1_txt     10373     0.06         No
corp1                42550     0.23         No
target1                636     0.00         No
natlty1               1559     0.01         No
natlty1_txt           1559     0.01         No
targtype2           170547     0.94        Yes
targtype2_txt       170547     0.94        Yes
targsubtype2        171006     0.94        Yes
targsubtype2_txt    171006     0.94        Yes
corp2               171574     0.94        Yes
target2             170671     0.94        Yes
natlty2             170863     0.94        Yes
natlty2_txt         170863     0.94        Yes
targtype3           180515     0.99        Yes
targtype3_txt       180515     0.99        Yes
targsubtype3        180594     0.99        Yes
targsubtype3_txt    180594     0.99        Yes
corp3               180665     0.99        Yes
target3             180516     0.99        Yes
natlty3             180544     0.99        Yes
natlty3_txt         180544     0.99        Yes
gname                    0     0.00         No
gsubname            175801     0.97        Yes
gname2              179678     0.99        Yes
gsubname2           181531     1.00        Yes
gname3              181367     1.00        Yes
gsubname3           181671     1.00        Yes
motive              131130     0.72  Judgement
guncertain1            380     0.00         No
guncertain2         179736     0.99        Yes
guncertain3         181371     1.00        Yes
individual               0     0.00         No
nperps               71115     0.39         No
nperpcap             69489     0.38         No
claimed              66120     0.36         No
claimmode           162608     0.89   Probably
claimmode_txt       162608     0.89   Probably
claim2              179801     0.99        Yes
claimmode2          181075     1.00        Yes
claimmode2_txt      181075     1.00        Yes
claim3              181373     1.00        Yes
claimmode3          181558     1.00        Yes
claimmode3_txt      181558     1.00        Yes
compclaim           176852     0.97        Yes
weaptype1                0     0.00         No
weaptype1_txt            0     0.00         No
weapsubtype1         20768     0.11         No
weapsubtype1_txt     20768     0.11         No
weaptype2           168564     0.93        Yes
weaptype2_txt       168564     0.93        Yes
weapsubtype2        170149     0.94        Yes
weapsubtype2_txt    170149     0.94        Yes
weaptype3           179828     0.99        Yes
weaptype3_txt       179828     0.99        Yes
weapsubtype3        179998     0.99        Yes
weapsubtype3_txt    179998     0.99        Yes
weaptype4           181618     1.00        Yes
weaptype4_txt       181618     1.00        Yes
weapsubtype4        181621     1.00        Yes
weapsubtype4_txt    181621     1.00        Yes
weapdetail           67670     0.37         No
nkill                10313     0.06         No
nkillus              64446     0.35         No
nkillter             66958     0.37         No
nwound               16311     0.09         No
nwoundus             64702     0.36         No
nwoundte             69143     0.38         No
property                 0     0.00         No
propextent          117626     0.65  Judgement
propextent_txt      117626     0.65  Judgement
propvalue           142702     0.79   Probably
propcomment         123732     0.68  Judgement
ishostkid              178     0.00         No
nhostkid            168119     0.93        Yes
nhostkidus          168174     0.93        Yes
nhours              177628     0.98        Yes
ndays               173567     0.96        Yes
divert              181367     1.00        Yes
kidhijcountry       178386     0.98        Yes
ransom              104310     0.57  Judgement
ransomamt           180341     0.99        Yes
ransomamtus         181128     1.00        Yes
ransompaid          180917     1.00        Yes
ransompaidus        181139     1.00        Yes
ransomnote          181177     1.00        Yes
hostkidoutcome      170700     0.94        Yes
hostkidoutcome_txt  170700     0.94        Yes
nreleased           171291     0.94        Yes
addnotes            153402     0.84   Probably
scite1               66191     0.36         No
scite2              104758     0.58  Judgement
scite3              138175     0.76   Probably
dbsource                 0     0.00         No
INT_LOG                  0     0.00         No
INT_IDEO                 0     0.00         No
INT_MISC                 0     0.00         No
INT_ANY                  0     0.00         No
related             156653     0.86   Probably

In [82]:
### get lists of columns to drop ###

yes_drop = NaN_summary.loc[(NaN_summary.Drop_Rec == 'Yes')]
yes_drop = yes_drop.index.tolist()

prob_drop = NaN_summary.loc[(NaN_summary.Drop_Rec == 'Probably')]
prob_drop = prob_drop.index.tolist()

judge_drop = NaN_summary.loc[(NaN_summary.Drop_Rec == 'Judgement')]
judge_drop = judge_drop.index.tolist()

### Examine how many would be lost at each drop point ###
print("Yes drop loses ", round((len(yes_drop) / data.shape[1]),2), "pct.")
print("Probably drop loses another ", round((len(prob_drop) / data.shape[1]),2), "pct.")
print("Judgement drop loses another ", round((len(judge_drop) / data.shape[1]),2), "pct.")

Yes drop loses  0.46 pct.
Probably drop loses another  0.06 pct.
Judgement drop loses another  0.05 pct.

In [85]:
### Drop columns with large amounts (>90%) of missing data ###

data2 = data.drop(yes_drop, axis = 1)

In [86]:
data2.shape

(181691, 73)

In [89]:
### Examine data types of marginal drop variables -- if numeric will consider median impute ###

prob_drop, judge_drop

(['alternative',
  'alternative_txt',
  'claimmode',
  'claimmode_txt',
  'propvalue',
  'addnotes',
  'scite3',
  'related'],
 ['location',
  'motive',
  'propextent',
  'propextent_txt',
  'propcomment',
  'ransom',
  'scite2'])

In [93]:
### combine the marginal drop columns to explore the datatypes of remaining high-NaN variables ###

drop_combo = prob_drop + judge_drop

type_chk = data2.loc[:, drop_combo]

In [95]:
type_chk.shape

(181691, 15)

In [96]:
type_chk.dtypes

alternative        float64
alternative_txt     object
claimmode          float64
claimmode_txt       object
propvalue          float64
addnotes            object
scite3              object
related             object
location            object
motive              object
propextent         float64
propextent_txt      object
propcomment         object
ransom             float64
scite2              object
dtype: object

In [103]:
### Suspect some of these float64s are just encoders ###

print(data2.claimmode.min())
print(data2.claimmode.max())

1.0
10.0

In [112]:
### impute float64 variables with median where logical ### 

data2['propvalue'].fillna((data2['propvalue'].median()), inplace = True)

In [113]:
data2.propvalue.isnull().sum()

0

In [125]:
### Check all data for NaN impute options ###

data2_nulls = data2.isnull().sum()
data2_types = data2.dtypes
d = {'type':data2_types, 'nulls':data2_nulls}
checkDF = pd.DataFrame(data = d)
checkDF

                     type   nulls
eventid             int64       0
iyear               int64       0
imonth              int64       0
iday                int64       0
extended            int64       0
country             int64       0
country_txt        object       0
region              int64       0
region_txt         object       0
provstate          object     421
city               object     434
latitude          float64    4556
longitude         float64    4557
specificity       float64       6
vicinity            int64       0
location           object  126196
summary            object   66129
crit1               int64       0
crit2               int64       0
crit3               int64       0
doubtterr         float64       1
alternative       float64  152680
alternative_txt    object  152680
multiple          float64       1
success             int64       0
suicide             int64       0
attacktype1         int64       0
attacktype1_txt    object       0
targtype1           int64       0
targtype1_txt      object       0
targsubtype1      float64   10373
targsubtype1_txt   object   10373
corp1              object   42550
target1            object     636
natlty1           float64    1559
natlty1_txt        object    1559
gname              object       0
motive             object  131130
guncertain1       float64     380
individual          int64       0
nperps            float64   71115
nperpcap          float64   69489
claimed           float64   66120
claimmode         float64  162608
claimmode_txt      object  162608
weaptype1           int64       0
weaptype1_txt      object       0
weapsubtype1      float64   20768
weapsubtype1_txt   object   20768
weapdetail         object   67670
nkill             float64   10313
nkillus           float64   64446
nkillter          float64   66958
nwound            float64   16311
nwoundus          float64   64702
nwoundte          float64   69143
property            int64       0
propextent        float64  117626
propextent_txt     object  117626
propvalue         float64       0
propcomment        object  123732
ishostkid         float64     178
ransom            float64  104310
addnotes           object  153402
scite1             object   66191
scite2             object  104758
scite3             object  138175
dbsource           object       0
INT_LOG             int64       0
INT_IDEO            int64       0
INT_MISC            int64       0
INT_ANY             int64       0
related            object  156653

## Next Steps ##

To this point I have addressed all of the columns that are significantly empty and have begun to dig into the ones that are not so empty that they are useless, but still too empty to be confidently modeled. Â The next installment of code will deal with the imputation of numeric columns left in the data2 DF. Â This will require pre-work to understand what each column really means as I suspect some of the "numeric" columns are actually just encoders.Â